[Unit]
Description=starlight server

[Service]
LimitNOFILE=65535
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=starlight
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/starlightd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
