@font-face {
  font-family: 'Nitti';
  font-style: normal;
  font-weight: normal;
  src: url('nitti-normal.woff') format('woff');
}

@font-face {
  font-family: 'Nitti';
  font-style: normal;
  font-weight: 500;
  src: url('nitti-bold.woff') format('woff');
}

@font-face {
  font-family: 'Nitti Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url('nittigrotesk-normal.woff') format('woff');
}

@font-face {
  font-family: 'Nitti Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('nittigrotesk-medium.woff') format('woff');
}

@font-face {
  font-family: 'Nitti Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('nittigrotesk-bold.woff') format('woff');
}

body {
  background: #262c36;
  color: #262c36;
  font-family: 'Nitti', sans-serif;
  margin: 0;
  padding: 0;
}
